section#one {
    position: relative;
}
section#one::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    inset: 0;
}
body{
    font-family: Montserrat, sans-serif !important;
}

h2#htwo{
    position: relative;
}

h2#htwo::after{
    content: "";
    background-color: #2563EB;
    position: absolute;
    width: 100px;
    height: 4px;
    bottom:-10px;
    left: 50%;
    transform: translate(-50%);
}

h2#hthree{
    position: relative;
}

h2#hthree::after{
    content: "";
    background-color: #2563EB;
    position: absolute;
    width: 100px;
    height: 4px;
    bottom:-10px;
    left: 50%;
    transform: translate(-50%);
}